<h1>Hello! </h1>
<p>My name is {{ name }} and I like to party</p>
<img src="https://media.giphy.com/media/mp1JYId8n0t3y/giphy.gif" alt="">
<h1>There are few things I would change about my life, but here are some:</h1>
<ul>
    <li>My face is too round</li>
    <li>I am apathetic toward geriatric hip disorders</li>
    <li>I am slower than I would like to be</li>
    <li>I do not know how to play the harmonica</li>
</ul>