<h1>{{message}} it's {{ name }}</h1>
<h2>Good to see you!!!!!</h2>
<img src="https://gph.is/g/ZOJrwlg" alt="altImage" />

<p> You're invited to my party at {{address}}</p>

<img src="https://gph.is/g/aXLbkwP" alt="anotherImage" />

<p> You can <b>only</b>  assist if you are {{info.name}}, and of course if you bring some drinks!!</p>

<img src="https://media.giphy.com/media/r8I7tDl75QLfh2SkpE/giphy.gif" alt="anotherImage" />

<p>Some things you should know about me...{{> myInfo }}</p>

<p> An alsoooo {{> myBootcamp }}</p> 