<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ pageTitle }}</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
<nav class="navbar">
  <a href="/marco">Marco</a>
  <a href="/lau">Lau</a>
  <a href="/morgane">Morgane</a>
  <a href="/sebas">Sebas</a>
  <a href="/raul">Raul</a>
  <a href="/danny">Danny</a>
  <a href="/fran">Fran</a>
  <a href="/miki">Miki</a>
</nav>

{{{ body }}}

</body>

</html>