<h1>Good morning {{name}}</h1>
<img src="https://media.giphy.com/media/mXa9Oec1ThcH4SKQ1j/giphy.gif" alt="fire gif">
<h2>My info is as follows:</h2>
{{> myInfo }}
<h2>My bootcamp info is</h2>
{{> myBootcamp }}