<<<<<<< HEAD
<h1>Hey there! </h1>
<p>Welcome to {{ name }}'s page!</p>
<img src="https://media.giphy.com/media/1SWiahmI5bbi0/giphy.gif" alt="p-and-r-gif">
=======
<h1>Hey there! </h1>
<p>Welcome to {{ name }}'s page!</p>
<img src="https://media.giphy.com/media/1SWiahmI5bbi0/giphy.gif" alt="p-and-r-gif">

{{> myInfo }}

{{> myBootcamp }}
>>>>>>> 20600672694d5ef55465e10fa06b1bef4624790c
